.hero-container {
  background-color: gray;
  padding: 40px;
  border-radius: 8px;
}
.hero-image {
  max-width: 300px;
  height: auto;
  border: none !important;
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-text {
    flex: 1;
    margin-right: 20px;
  }
  .hero-image {
    flex: 1;
    text-align: center;
  }
}
